# Database settings
DATABASE_SERVER=postgres
DATABASE_PORT=5432
DATABASE_USER=postgres
DATABASE_PASSWORD=P@ssw0rd
DATABASE_DATABASENAME=MasterDb

# Jwt settings
Jwt__Secret=liausdlikhakljsduy98126719846kzkjxhc8
Jwt__Issuer=MultiTenantEMS
Jwt__Audience=MultiTenantEMSUsers

# Log level : Information, Critical
LogLevel=Information

#Enviroment
Environment=Development